@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen zum Piraten Verein: Addicted to Rum</h1>
	<a asp-action="Create"><button type="button">Anmelden</button></a>
    <a asp-controller="PiratJuniors" asp-action="LetzteGeneration"><button type="button">Reservisten aktivieren</button></a>
</div>
